.crochetColours {
  display: block; 
  block-size: 100%;
  align-items: center;
}

.colourPickers {
  display: inline-flex;
  align-items: center;
  justify-content: right;
  padding: 6px;
  float: right;
}

.colourPickers h4 {
  padding: 6px;
}

.crochet {
  display: block;
  align-items: center;
  justify-content: center;
}

